body{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

.container{
    width: 1180px;
    box-sizing:border-box;
    margin: 0 auto;
    padding: 25px;

}

h1 {
    width: 1050px;
    margin-bottom: 30px;
    color: #121212;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.03cm;
}

.room-1 {

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap-reverse;

    background-image: url('../resources/room-1.jpg');
    background-repeat: no-repeat;
    background-size: contain;

    width: 1150px;
    height: 500px;

}

.room-1 p {
    width: 430px;
    color: #fff;
    margin-left: 40px;
    margin-bottom: 40px;

    
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.03em;

}

h2{
    
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    
    margin-top: 150px;
}
.about p {
    width: 1048px;

    letter-spacing: -0.03cm;
    font-size: 45px;
    color: #121212;
    line-height: 61.47px;
    margin-top: 30px;
}

.view_services {
    display: block;
    width: 300px;
    height: 50px;
    border: 1px solid red;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: -0.03cm;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 30px;
    background-color: red

}
.view_services:hover {
    color: red;
    background-color: white;
}
